{% extends 'base.html.twig' %}

{% block title %}New Locatie{% endblock %}

{% block body %}
    <h1>Create new Locatie</h1>

    {{ include('locatie/_form.html.twig') }}

    <a href="{{ path('app_locatie_index') }}">back to list</a>
{% endblock %}
