{% extends 'base.html.twig' %}

{% block title %}Locatie{% endblock %}

{% block body %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!--Styling-->

    <style>
        body {
            font-size: 20px;
            font-family: Roboto, serif;
            margin-left: 10%;
            margin-right: 10%;
            overflow-x: hidden;
            background-color: #ffed00;
        }

        .icons {
            width: 30px;
            height: 30px;
            margin: 10px;
            text-align: left;
        }

        .title {
            text-align: center;
            background-image: url("../dif_building.png");
            font-weight: bold;
            font-size: 80px;
            padding: 100px;
            color: white;
            margin-top: -50px;
            margin-left: -15%;
            margin-right: -15%;
            margin-bottom: 0px;
        }

        .tableBody {
            outline: 1px solid black;
            border-radius: 0px 0px 15px 15px;
            background-color: white;
            text-align: left;
        }

        .tableHead {
            text-align: center;
        }

    </style>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="margin-left: -15%; margin-right: -15%">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="rounded" src="../Afbeelding1.png" alt="..." height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Over</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <h1 class="title">{{ locatie.locatie }}</h1>
    </div>

<!--Naam van locatie is altijd h1-->


    <table class="table">
        <tbody class="tableBody">
            <tr class="tableRow">
                <th class="tableHead" style="padding: 20px"><img class="icons" src="/information.png" alt="icon"></th>
                <td class="tableData" style="padding: 20px">{{ locatie.beschrijving }}</td>
            </tr>
            <tr class="tableRow">
                <th class="tableHead" style="padding: 20px"><img class="icons" src="/message.png" alt="icon"></th>
                <td class="tableData" style="padding: 20px">{{ locatie.email }}</td>
            </tr>
            <tr class="tableRow">
                <th class="tableHead" style="padding: 20px"><img class="icons" src="/phone.png" alt="icon"></th>
                <td class="tableData" style="padding: 20px">{{ locatie.telenr }}</td>
            </tr>
            <tr class="tableRow">
                <th class="tableHead" style="padding: 20px 20px"><img class="icons" src="/review.png" alt="icon"></th>
                <td class="tableData" style="padding: 20px 20px; margin-left: 0px; margin-bottom: 20px; color: black; display: inline-block;"><button type="button" style="color: black; font-size: 20px" class="btn btn-outline-secondary">Go to Reviews page</button></td>
            </tr>
        </tbody>
    </table>

    <div>
        <img src="../mapplaceholder.png" width="100%">
    </div>

{% endblock %}
